<div>
  <ul class="list-group">
    <li class="list-group-item text-right">
      <a class="btn btn-default" ng-click="settings_children.go(null)"><i class="fa fa-user-plus"> 追加</i></a>
    </li>
    <li class="list-group-item" ng-repeat="child in settings_children.children">
      <a ng-click="settings_children.go(child)">
        <span ng-if="child.nickName">{{child.nickName}}</span>
        <div class="pull-right">
          <!-- <span ng-if="child.birthday">{{child.birthday + '生まれ'}}</span> -->
          <span ng-if="child.ageYears">{{ child.ageYears + '歳' }}</span>
          <span ng-if="child.ageMonths">{{ child.ageMonths + 'ヶ月' }}</span>
          <span ng-if="child.gender ===  0">男の子</span>
          <span ng-if="child.gender ===  1">女の子</span>
        </div>
      </a>
    </li>
  </ul>
</div>
