<nav class="navbar navbar-fixed-top navbar-default" ng-controller="NavbarController as navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home.all">ちゃぼ</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">

      <div ng-show="!$root.currentUser">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" role="button" ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a>
          </li>
          <li dropdown>
            <a dropdown-toggle data-toggle="dropdown" role="button">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="navbar-login">
                  <div class="row">
                    <div class="col-lg-12">
                      <form class="hidden-xs">
                        <div class="form-group">
                          <input type="text" class="form-control input-sm" ng-model="navLoginForm.username" name="username" placeholder="Username" ng-click="$event.stopPropagation()">
                          <input type="password" class="form-control input-sm" ng-model="navLoginForm.password" name="password" placeholder="Password" ng-click="$event.stopPropagation()">
                        </div>
                        <button type="button" class="btn btn-primary input-sm btn-outline" ng-click="navbar.logIn(navLoginForm)">ログイン</button>
                      </form>
                      <a ui-sref="login" class="btn btn-primary input-sm btn-outline visible-xs-block">ログイン</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="navbar-login navbar-login-session">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        <a href="#" class="btn btn-danger btn-block btn-outline" ng-click="navbar.loginWithFacebook()">Facebookでログイン</a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div ng-show="$root.currentUser">
        <ul class="nav navbar-nav navbar-right">
          <li dropdown>
            <a href="#" dropdown-toggle data-toggle="dropdown" role="button">
              <span class="badge">42</span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="navbar-login">
                  <div class="row">
                    <div class="col-lg-12">
                      <a ui-sref="settings.family_approval">かぞく申請が届いています。</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <a role="button" ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a>
          </li>
          <li dropdown>
            <a href="#" dropdown-toggle data-toggle="dropdown" role="button">
              <span class="glyphicon glyphicon-warning-sign text-danger" ng-show="!$root.currentUser.get('authData').facebook && !$root.currentUser.get('emailVerified')"></span> 
              <span class="glyphicon glyphicon-user"></span> 
              <strong>{{$root.currentUser.get('username')}}</strong>
              <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="navbar-login">
                  <div class="row">
                    <div class="col-lg-2">
                      <!-- <p class="text-center">
                        <span class="glyphicon glyphicon-user icon-size"></span>
                      </p> -->
                      <div ng-style="{ 'background-image': 'url(' + $root.currentUser.get('iconUrl') + ')' }"
                        class="img-circle icon-post"></div>
                    </div>
                    <div class="col-lg-10">
                      <p class="text-left"><strong>{{$root.currentUser.get('username')}}</strong></p>
                      <p class="text-left " ng-show="!$root.currentUser.get('authData').facebook && !$root.currentUser.get('emailVerified')">
                          <alert type="danger">メールアドレスの確認が完了しておらず一部機能が利用できません。メールのURLをクリックして登録完了してください。<br/>
                            <a class="alert-link" ng-click="navbar.fetchUser()">登録完了したらここをクリックして再読み込み</a>
                          </alert>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="navbar-login navbar-login-session">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        <a href="#" class="btn btn-danger btn-block btn-outline" ng-click="navbar.logOut()">ログアウト</a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      <div ng-show="">

      <!-- <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown>
          <a href="#" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> -->

    </div>
  </div>
</nav>
