<div ng-controller="MainMyPostsController as main_myposts" class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <cv-when-scroll class="media-list" cv-run="main_myposts.loadMore()">
      <div class="media panel panel-default" ng-repeat="voice in main_myposts.voices">
        <div class="media-left">
          <a href="#">
            <div ng-style="{ 'background-image': 'url(' + voice.icon + ')' }"
              class="media-object img-circle icon-post"></div>
          </a>
        </div>
        <div class="media-body">
          <div class="media-header">
            <span>
              <small>{{ voice.user }}</small>
              <small><a ui-sref="home.post({ voice: voice, voiceId: voice.objectId })">{{ voice.createdAt }}</a></small>
            </span>
            <span class="pull-right">
              <span ng-click="main_myposts.toggleLike(voice)" id="like" ng-class="{ 'like-active': voice.like }">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              </span>
              <span id="like-count">{{ voice.likeCount }}</span>
              <span ng-if="voice.userObjectId === main_myposts.$rootScope.currentUser.id" dropdown class="dropdown"><!-- ここのclass="dropdown"がないと動かない -->
                <span
                    class="glyphicon glyphicon-option-horizontal cursor-pointer dropdown-toggle"
                    dropdown-toggle>
                </span>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a ui-sref="home.compose({ voice: voice, voiceId: voice.objectId })">編集する</a></li>
                  <li><a ng-click="main_myposts.openDeletePostConfirmModal(voice)">削除する</a></li>
                  <script type="text/ng-template" id="deletePostConfirmModal.html">
                    <div class="modal-body">この投稿を削除しますか？</div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" type="button" ng-click="delete_post_modal.ok()">OK</button>
                      <button class="btn btn-default" type="button" ng-click="delete_post_modal.cancel()">Cancel</button>
                    </div>
                  </script>
                </ul>
              </span>
            </span>
          </div>
          <p class="pre-line">{{ voice.description }}</p>
          <p><a ng-repeat="tag in voice.tags" ui-sref="home.tag({ tag: tag })"><span class="badge tag-badge">{{ tag }}</span></a></p>
          <p class="text-right"><small>{{ voice.speaker }} {{ voice.age }} {{ voice.gender }}</small></p>
          <p ng-show="voice.photoUrl"><img ng-src="{{voice.photoUrl}}" class="img-responsive img-thumbnail"/></p>
        </div>
        <!-- <pre>{{voice|json}}</pre> -->
      </div>
    </cv-when-scroll>
  </div>
</div>
