<div class="col-sm-8 col-sm-offset-2">
<h2>ログイン</h2>
<form class="form-horizontal" ng-show="!$root.currentUser  || !$root.currentUser.get('emailVerified')" name="loginForm" novalidate>
  <alert type="info" ng-show="$root.currentUser && !$root.currentUser.get('emailVerified')">メールを送信しました。メールのURLクリック後、再度ログインしてください。</alert>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" ng-model="logInForm.username" class="form-control" id="email" name="email"/>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password" ng-model="logInForm.password" class="form-control" id="password" name="password"/><br />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" ng-click="login.logIn(logInForm)" ng-disabled="loginForm.email.$invalid">ログイン</button>
      <button class="btn btn-default" ng-click="login.signUp(logInForm)" ng-disabled="loginForm.email.$invalid">ユーザ登録</button>
      <button class="btn btn-default" ng-click="login.loginWithFacebook()">Facebookでログイン</button>
    </div>
  </div>
</form>

<pre>{{ $root.currentUser | json}}</pre>

</div>
