  <form class="form-horizontal">
    <div class="form-group">
      <label for="nickName" class="col-sm-3 control-label">ニックネーム</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="nickName" placeholder="ニックネーム">
      </div>
    </div>
    <div class="form-group">
       <label  class="col-sm-3 control-label">生年月日</label>
       <div class="col-sm-9">
         <div class="btn-group" dropdown is-open="settings_child.dropDownStatus.yearIsOpen">
           <button type="button"
               class="btn btn-default dropdown-toggle"
               dropdown-toggle
               ng-disabled="disabled"
               ng-click="toggleDropdown($event)">
             {{ settings_child.yearSelected }} <span class="caret"></span>
           </button>
           <ul class="dropdown-menu" role="menu">
             <li ng-repeat="year in settings_child.birthYears"><a href="#">{{year}}</a></li>
           </ul>
         </div>
         年
      </div>
    </div>
  </form>
