<div ng-controller="SettingsChildController as settings_child" class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="nickName" class="col-sm-3 control-label">ニックネーム</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="nickName" placeholder="ニックネーム" ng-model="settings_child.$rootScope.targetChild.nickName"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">生年月日</label>
        <div class="col-sm-9 form-inline">
          <select class="form-control"
              ng-model="settings_child.yearSelected"
              ng-options="year for year in settings_child.birthYears"
              ng-disabled="settings_child.$rootScope.targetChild.unableBirthday">
              <option value="">--</option>
          </select>
          年
          <select class="form-control"
              ng-model="settings_child.monthSelected"
              ng-options="month for month in settings_child.birthMonths"
              ng-disabled="settings_child.$rootScope.targetChild.unableBirthday">
            <option value="">--</option>
          </select>
          月
          <select class="form-control"
              ng-model="settings_child.dateSelected"
              ng-options="date for date in settings_child.birthDates"
              ng-disabled="settings_child.$rootScope.targetChild.unableBirthday">
            <option value="">--</option>
          </select>
          日
          <span id="unableBirthday">
            <input type="checkbox"
                ng-model="settings_child.$rootScope.targetChild.unableBirthday"
                ng-change="settings_child.initBirthday()"/> 登録しない
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">性別</label>
        <div class="col-sm-9">
          <label class="radio-inline">
            <input type="radio" name="gender" id="male" value="0" ng-model="settings_child.$rootScope.targetChild.gender"> 男の子
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" id="femail" value="1" ng-model="settings_child.$rootScope.targetChild.gender"> 女の子
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" id="none" value="2" ng-model="settings_child.$rootScope.targetChild.gender"> その他・登録しない
          </label>
        </div>
      </div>
      <button type="button" class="btn btn-primary pull-right btn-outline" ng-click="settings_child.saveChildData()">保存</button>
    </form>
  </div>
</div>
