<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <!-- <div class="jumbotron text-center">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
  </div> -->

  <!-- <div class="row" ng-repeat="voice in main.voices | orderBy:'rank'">
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <img class="img-circle pull-left" ng-src="assets/images/{{voice.icon}}" alt="{{voice.author}}">
        <div class="caption">
          <p class="pre-line">{{voice.description}}</p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <div class="media-list">
        <div class="media panel panel-default" ng-repeat="voice in main.voices | orderBy:'rank'">
          <div class="media-left">
            <a href="#">
              <img class="media-object img-circle " ng-src="assets/images/{{voice.icon}}" alt="{{voice.author}}">
            </a>
          </div>
          <div class="media-body">
            <p class="text-right"><small>{{voice.createdAt}}</small></p>
            <p class="pre-line">{{voice.description}}</p>
            <p class="text-right"><small>{{voice.age}}歳</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>

</div>
