<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <form>
          <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="こどもの名言・迷言、一発ネタ、何気ない一言、泣かされた言葉、なんでも記録しましょう！"></textarea>
          </div>
          <div class="form-group">
            だれのセリフを記録しますか？
            <div class="btn-group btn-group-sm" dropdown is-open="main_compose.dropDownStatus.wordsAuthorIsOpen">
              <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                {{ main_compose.wordsAuthorSelected.nickName || '指定しない' }} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a>指定しない</a></li>
                <li ng-repeat="child in main_compose.children">
                  <a ng-click="main_compose.onSelectWordsAuthor(child)">{{child.nickName}}
                    <span ng-if="child.age">{{child.age}}</span>
                    <span ng-if="child.gender ===  0">男の子</span>
                    <span ng-if="child.gender ===  1">女の子</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="form-group" id="wordsAuthor">
              <div class="row">
                <div class="col-xs-2">
                  <input type="text" class="form-control input-sm" ng-model="main_compose.wordsAuthor.nickName">
                </div>
                <div class="col-xs-4">
                  <div class="input-group">
                    <input id="words-author-age-years" type="text" class="form-control input-sm text-right" ng-model="main_compose.wordsAuthor.ageYears">
                    <div class="input-group-addon">歳</div>
                    <input id="words-author-age-months" type="text" class="form-control input-sm text-right" ng-model="main_compose.wordsAuthor.ageMonths">
                    <div class="input-group-addon">ヶ月</div>
                  </div>
                </div>
                <div class="col-xs-3">
                  <select class="form-control input-sm" ng-model="main_compose.wordsAuthor.gender" ng-options="gender.value as gender.label for gender in main_compose.genderList">
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <toggle-switch
              ng-model="switchStatus"
              on-label="公開"
              off-label="非公開">
            </toggle-switch>
            <button type="submit" class="btn btn-primary pull-right">送信</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
