.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 70px;
}

.media {
  padding: 16px;

  // img.img-circle {
  //   width: 50px;
  // }
}

.pre-line {
    white-space: pre-line;
}






.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;

    img {
      width:
    }
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    width: 40px;
    height: auto;
}

// 投稿のアイコン
.icon-post {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position: center;
}

// プロファイルページのアイコン
.profile-icon {
  height: 160px;
  width: 160px;
  margin-bottom: 8px;
  background-size: cover;
  background-position: center;
}

#tabmenu {
  margin-bottom: 20px;
}

#unableBirthday {
  margin-left: 28px;
}

#words-author-age-years, #words-author-age-months {
  width: 36px;
}

// 投稿記事
.posted-voice {
  // これがないとCARDが繋がる
  margin-bottom: 24px;
  // mdl-cardのmin-heightが200pxなので邪魔。
  min-height: 120px;

  .avatar {
    margin: 16px;
  }
}

/* compose画面 */
#compose-description-container {
    width: 100%;
}

// bootstrap-file-uploadのファイル選択ボタン
.photo-browse-btn {
  width: 160px;
}

// bootstrap-file-uploadのコンテナ
.file-input {
  margin-bottom: 32px;
}

// login画面のパスワードリセットポップオーバー
#resetPwPopoverContainer .popover {
  width: 100%;
}

// loading-bar
#loading-bar .bar {
  // navbar分下へ
  margin-top: 50px;   // 2015/08/24 安部追加
}

// お気に入りハート
#like {
  margin-right: 12px;
  // color: #23572c;
  // &:hover {
  //   color: $link-color !important;
  // }
}

.like-active {
  color: #ff4081;
}

.like-active-add {
  transition: ease-out 0.3s;
}

.like-active-add-active{
  font-size: 1.5em;
}


/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
