$primay-color: #ff4081;  // pink


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 70px;
}

.media {
  padding: 16px;

  // img.img-circle {
  //   width: 50px;
  // }
}

.pre-line {
    white-space: pre-line;
}

// 全面写真
.fullscreen-background {
  opacity: 0.8;
  background:url(../assets/images/background/bg1.jpg) no-repeat center center fixed !important;
  background-size: cover !important;
}

.top-poem {
  line-height: 2em;
}


// カーソルをpointerにする
.cursor-pointer {
  cursor: pointer;
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;

    // img {
    //   width:
    // }
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    width: 40px;
    height: auto;
}

// 投稿のアイコン
.icon-post {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position: center;
}

// 投稿のヘッダ部分（ユーザ名や投稿日時、likeCountなど）
.media-header {
  margin-bottom: 16px;
}

// 投稿の投稿時刻
.post-createdAt {
  margin:0 8px;
  color: #000;
}

// プロファイルページのアイコン
.profile-icon {
  height: 160px;
  width: 160px;
  margin-bottom: 8px;
  background-size: cover;
  background-position: center;
}

#tabmenu {
  margin-bottom: 20px;
}

#unableBirthday {
  margin-left: 28px;
}

// #words-author-age-years, #words-author-age-months {
//   width: 36px;
// }

// 投稿記事
.posted-voice {
  // これがないとCARDが繋がる
  margin-bottom: 24px;
  // mdl-cardのmin-heightが200pxなので邪魔。
  min-height: 120px;

  .avatar {
    margin: 16px;
  }
}

/* compose画面 */
#compose-description-container {
    width: 100%;
}

// bootstrap-file-uploadのファイル選択ボタン
.photo-browse-btn {
  width: 160px;
}

// bootstrap-file-uploadのコンテナ
.file-input {
  margin-bottom: 32px;
}

// ニックネーム、月齢、性別など（なぜかpaddingがなくなるので）
#voice-author-info {
  padding-left: 15px;
  padding-right: 15px;
}

// login画面のパスワードリセットポップオーバー
#resetPwPopoverContainer .popover {
  width: 100%;
}

// loading-bar
#loading-bar .bar {
  // navbar分下へ
  margin-top: 50px;   // 2015/08/24 安部追加
}

// お気に入りハート
#like {
  margin-right: 4px;
  // color: #23572c;
  // &:hover {
  //   color: $link-color !important;
  // }
}

// お気に入りハート
.like-active {
  color: #ff4081;
}

// お気に入りハート
.like-active-add {
  transition: ease-out 0.3s;
}

// お気に入りハート
.like-active-add-active{
  font-size: 1.5em;
}

// like数
#like-count {
  margin-right: 12px;
}


// ここから outline button
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .2s;
}

.btn-outline-bold {
    border-width: 3px !important;
    border-radius: 0;
}

.btn-primary.btn-outline {
  // color: #428bca; // blue
  color: #ff4081; // pink
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
// ここまで outline button




// タグ表示用のバッジ
.tag-badge {
  margin-right: 8px;
  margin-bottom: 8px;
  font-weight: normal;
  color: $primay-color;
  background-color: #fff;
  border: 1px solid $primay-color;
  cursor: pointer;
}

.tag-badge:hover {
  color: #fff;
  background-color: $primay-color;
}

// ngTagsInpuのスタイルを上書き
// tags-input {
//   margin-bottom: 12px;
// }
//
tags-input .tags .tag-item {
  color: $primay-color !important;
  background: #fff !important;
  border: 1px solid $primay-color !important;
  border-radius: 1em !important;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

tags-input .tags .tag-item.selected {
  color: #fff !important;
  background: $primay-color !important;
}
// ngTagsInpuのスタイルを上書きここまで

// かぞく承認ボタン
#btn-family-approve {
  margin-right: 12px;
}
// かぞく承認ボタン


// @media (min-width: 768px) {
//     .navbar .navbar-nav {
//         display: inline-block !important;
//         float: right !important;
//         vertical-align: top !important;
//     }
//
//     .navbar-center {
//         display: inline-block !important;
//         float: none !important;
//         vertical-align: top !important;
//     }
//
//     .navbar .navbar-collapse {
//         text-align: center;
//     }
// }

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
