.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 70px;
}

.media {
  padding: 16px;

  // img.img-circle {
  //   width: 50px;
  // }
}

.pre-line {
    white-space: pre-line;
}






.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;

    img {
      width:
    }
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    width: 40px;
    height: auto;
}

.icon-post {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position: center;
}

.profile-icon {
  height: 160px;
  width: 160px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
}

#tabmenu {
  margin-bottom: 20px;
}

#unableBirthday {
  margin-left: 28px;
}

#words-author-age-years, #words-author-age-months {
  width: 36px;
}

// 投稿記事
.posted-voice {
  // これがないとCARDが繋がる
  margin-bottom: 24px;
  // mdl-cardのmin-heightが200pxなので邪魔。
  min-height: 120px;

  .avatar {
    margin: 16px;
  }
}

/* compose画面 */
#compose-description-container {
    width: 100%;
}


/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
