<div class="panel panel-default" ng-controller="SettingsProfileController as settings_profile">
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <input id="photo-selector" type="file"/>
      </div>
      <img ng-src="settings_profile.profile.icon" id="member-photo"/>
      <div class="form-group">
        <label for="username" class="col-sm-3 control-label">ユーザ名</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="username" placeholder="ユーザ名" ng-model="settings_profile.profile.username"/>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">メールアドレス</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="email" placeholder="メールアドレス" ng-model="settings_profile.profile.email"/>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">パスワード</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="password" placeholder="パスワード（変更するときのみ入力）" ng-model="settings_profile.profile.password"/>
        </div>
      </div>
      <button type="button" class="btn btn-primary pull-right" ng-click="settings_profile.saveProfile()">保存</button>
    </form>
  </div>
</div>
