<div class="panel panel-default" ng-controller="SettingsProfileController as settings_profile">
  <div class="panel-body">
    <form class="form-horizontal">
      <div ng-style="{ 'background-image': 'url(' + settings_profile.profile.icon + ')' }"
        class="img-thumbnail profile-icon"></div>
      <!-- <img ng-src="{{ settings_profile.profile.icon }}"
        class="icon-size-big img-thumbnail profile-icon"
        ng-class="{ hidden: !settings_profile.showIcon, show: settings_profile.showIcon}"/> -->
      <input id="photo-selector" type="file" />
      <div class="form-group">
        <label for="username" class="col-sm-3 control-label">ユーザ名</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="username" placeholder="ユーザ名" ng-model="settings_profile.profile.username"/>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">メールアドレス</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="email" placeholder="メールアドレス" ng-model="settings_profile.profile.email"/>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">パスワード</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="password" placeholder="パスワード（変更するときのみ入力）" ng-model="settings_profile.profile.password"/>
        </div>
      </div>
      <button type="button" class="btn btn-primary pull-right btn-outline" ng-click="settings_profile.saveProfile()"><i class="fa fa-user-plus"> 保存</i></button>
    </form>
  </div>
</div>
